/* NavBar.css (or include this in your main stylesheet) */

.navbar {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 0;
  }
  
  .navbar a {
    color: black;
    font-weight: 800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 40px;
    border-radius: 4px;
    font-size: large;
  }
  
  .navbar a:hover {
    background-color: #f5f5f5;
  }
  